<h3>この内容でつぶやき確定</h3>
<%= form_with(model: @say, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>本文:<%= @say.content %></p>
  <%= form.submit  "確定" %>
  <%= form.submit "もどる",name:'back'%>
<% end %>
