<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>tsubuyaki</title>
  </head>
  <body>
    <p>Home</p>



<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @says.each do |say| %>
      <tr>
        <td><%= say.content %></td>
        <td><%= link_to '詳細', say %></td>
        <td><%= link_to '編集', edit_say_path(say.id) %></td>
        <td><%= link_to '削除', say, method: :delete, data: { confirm: '本当に削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'つぶやく', new_say_path %>



</body>
</html>
